@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!

    </text>
        <ul style="display:inline-block;">
         <li class="uk-width-1-1 uk-button uk-button-primary">@Html.ActionLink("Refresh", "Index", "Home", null, 
     new { @style="color:white;" })</li>
    </ul>
} else {
    <ul style="display:block;">
@*        <li class="uk-width-1-1 uk-button uk-button-primary" style=" color:white;">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
         <li class="uk-width-1-1 uk-button uk-button-primary" style="color:white;">@Html.ActionLink("Refresh", "Index", "Home")</li>*@
    </ul>
}
