
@model DiscGolf.Models.AboutModel

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The Bare Bones Disc Golf Score keeper is made to rule.
        Concept and images by Alex Mazur
        Application design and development by Fidel Hidalgo
    </p>

</article>
